Package: io.crafterpika.clutty
Name: Clutty
Depends: mobilesubstrate, preferenceloader
Version: 0.1.4
Architecture: iphoneos-arm
Description: do i have an live? Probably not.
Maintainer: CrafterPika
Author: CrafterPika
Section: Tweaks
